footer.footer__container
   section( aria-label='Контакты' ).wrapper
      .row
         .footer__logo.logo_ers#totop
         .footer__site
            span Официальный сайт
            a( href='https://ficto.ru' target='_blank' ).text-25 https://ficto.ru
         .footer__mail
            span По&nbsp;вопросам участия в&nbsp;проектах
            a( href='mailto:lab@ficto.ru' ).text-25 lab@ficto.ru

