section( aria-label='Какие продукты уже готовы в рамках проекта' )#product.wrapper
   .product__container
      .rotate__holder
         .rotate__text
         .rotate__icon
      h1.caption Продукты сектора
      .product__accordion
         .product__holder.mb2
            .trigger.justify-between
               h2.caption Telegram&ndash;бот &laquo;Фицтоша&raquo;
               .trigger__icon_holder
                  .trigger__icon.icon-more
            .hidden.product__hidden
               p.mt Чат-бот использующий общедоступные API ИИ сервисов, с&nbsp;элементами голосового помощника, выполняющего функции секретаря. Существует в&nbsp;бета-версии.
               a( href='https://t.me/FictoshaGPTBot' target='_blank' ).fictosha

         .product__holder
            .trigger.justify-between
               h2.caption Создание системы подбора ребёнка для&nbsp;усыновления по&nbsp;фотографии одного из&nbsp;(или&nbsp;обоих) потенциальных усыновителей
               .trigger__icon_holder
                  .trigger__icon.icon-more
            .hidden
               p.mt2 Система основана на&nbsp;глубокой свёрточной нейронной сети для&nbsp;точного анализа изображений лиц детей и&nbsp;их будущих родителей.
               p.mt1 С&nbsp;помощью математической модели учитываются многие факторы, определяющие степень схожести двух людей&nbsp;&mdash; форма и&nbsp;цвет глаз, форма бровей, форма носа, форма рта и&nbsp;другие.
               .product__face.mt2
                  object( type="image/svg+xml", data="./assets/data/animation/face.svg" )
                     img( src='./assets/data/animation/face-static.svg' )
