.header__container {
   padding-top: 4.5rem;
   .sm-block({
      padding-top: 4rem;
   });
    .xs-block({
       padding-top: 3rem;
   })
}
.header__container .row {
   flex-wrap: nowrap;
   .justify-between();
   .md-block({
      //.items-start();
   });
   .xs-block({
      flex-wrap: wrap;
   })
}
.header__logo {
   position: relative;
   z-index: 200;
   height: 4rem;
   min-width: 14.7rem;
   .sm-block({
      min-width: 35vw;
   });
    .sm-block({
       height: 6rem;
   });
    .xs-block({
       height: 8rem;
      min-width: 45vw;
   })
}


.header__logo {
   .col();
   .size(6);
   .size-xl(6);
   .size-middle(5);
   .size-lg(5);
   .size-md(7);
   .size-sm(20);
}
.header__menu_holder {
   .col();
   .size(18);
   .size-xl(18);
   .size-middle(19);
   .size-lg(19);
   .size-md(18);
   .size-sm(20);
   
   .sm-block({
      margin-left: auto !important;
   })
}
