.activities__container {
   position: relative;
   z-index: 200;
   .flex();
   color: #ffffff;
   .xs-block({
      display: block;
   })
}
.activities__container:before {
   .pseudo();
   z-index: 200;
   top: 50%;
   left: -65%;
   width: 80vw;
   height: 80vw;
   border-radius: 100px;
   transform: translateX(50%) translateY(-50%);
   opacity: .6;
   background: radial-gradient(47.61% 47.61% at 50% 50%, #000009 0%, rgba(0, 0, 9, 0) 100%);
   .xl-block({
      width: 100%;
      height: 100%;
   })
}
.activities__container:after {
   .pseudo();
   z-index: 250;
   top: 50%;
   right: 10%;
   width: 70vw;
   height: 70vw;
   border-radius: 100px;
   transform: translateX(50%) translateY(-50%);
   background: radial-gradient(47.61% 47.61% at 50% 50%, rgba(9, 117, 179, 0.75) 0%, rgba(67, 179, 241, 0) 100%);
   .xl-block({
      width: 70%;
      height: 100%;
   });
   .md-block({
      top: 70%
   })
}

.activities__articles {
   position: relative;
   z-index: 400;
   .middle-block({
      padding-top: 30rem;
   });
   .xs-block({
      padding-top: 4rem;
   });
   .xxs-block({
      padding-top: 3rem;
   });
}
.activities__articles article {
   .flex();
   .items-start();
}
.activities__point {
   position: relative;
   z-index: 400;
   width: 10%;
   padding-top: 1rem;
   padding-right: .5rem;
   box-sizing: border-box;
   min-width: calc( 3rem + 3vw );
   flex-shrink: 0;
   .xs-block({
      width: 10%;
      padding-left: 3px;
   })
}
.activities__text {
   width: 90%;
}
