menu.header__menu_holder
   a( href='#activities').menu__item Направления&nbsp;деятельности
   a( href='#product').menu__item Продукты
   //a( href='').menu__item Публикации
   //a( href='').menu__item Новости
   a( href='additional').menu__item Дополнительные&nbsp;ресурсы
