menu.header__menu_holder
   a( href='').menu__item Направления&nbsp;деятельности
   a( href='').menu__item Продукты
   a( href='').menu__item Публикации
   a( href='').menu__item Новости
   a( href='').menu__item Дополнительные&nbsp;ресурсы
