section( aria-label='О чём этот сайт' ).caption__container.mb10
   .wrapper
      h1.caption__main Сектор
         br
         span экспериментальных
         br
         span исследований
      h2.title Сектор специализируется на&nbsp;исследовании и&nbsp;внедрении новых технологических решений в&nbsp;сфере образования и&nbsp;информационных технологий
         .animation__container
            object( type="image/svg+xml", data="./assets/data/animation/round.svg" )
                  img( src='./assets/data/animation/round-static.svg' )
      h3.title Деятельность ведется в&nbsp;соответствии с&nbsp;Концепцией технологического развития Российской Федерации
