section( aria-label='О чём этот сайт' ).caption__container.mb10
   .wrapper
      h1.caption__main Сектор
         br
         span экспериментальных
         br
         span исследований
      h2.title Сектор специализируется на исследовании и внедрении новых технологических решений в сфере образования и информационных технологий
         .animation__container
            object( type="image/svg+xml", data="./assets/data/animation/round.svg" )
                  img( src='./assets/data/animation/round-static.svg' )
      h3.title Деятельность ведется в соответствии с Концепцией технологического развития Российской Федерации
