section( aria-label='Для чего создан сектор ЭИ' )#activities.wrapper
   main.activities__container
      .rotate__holder
         .rotate__text
         .rotate__icon
      h1.caption Направления деятельности
      .activities__articles
         include __activities
         +activities( '1', 'Участие в&nbsp;создании проектов, повышающих уровень технологического суверенитета', 'Создание проектов с&nbsp;использованием критических и&nbsp;сквозных технологий, охватывающих все стадии инновационного цикла' )
         +activities( '2', 'Формирование гипотез, разработка и&nbsp;создание прототипов продуктов', 'Создание MVP для проверки гипотез в&nbsp;рамках создаваемых продуктов' )
         +activities( '3', 'Исследование лучших практик и&nbsp;трендов', 'Осуществление анализа технологий, трендов и&nbsp;лучших мировых практик' )
         +activities( '4', 'Участие в&nbsp;научно-исследовательской деятельности', 'Формирование научно-технологических прогнозов, создание математических моделей, анализ данных, разработка программного обеспечения, тестирование и&nbsp;оценка эффективности новых технологий' )

