main#activities.wrapper
   section( aria-label='Для чего создан сектор ЭИ' ).activities__container
      .rotate__holder
         .rotate__text
         .rotate__icon
      h1.caption Направления деятельности
      .activities__articles
         include __activities
         +activities( '1', 'Участие в создании проектов, повышающих уровень технологического суверенитета*', 'Создание проектов с использованием критических и сквозных технологий, охватывающее все стадии инновационного цикла<br>* Взято из концепции технологического развития на период до 2030 года ' )
         +activities( '2', 'Формирование гипотез, разработка и создание прототипов продуктов', 'Создание MVP для проверки гипотез в рамках создаваемых продуктов' )
         +activities( '3', 'Исследование лучших практик и трендов', 'Осуществление анализа технологий, трендов и лучших мировых практик' )
         +activities( '4', 'Участие в научно-исследовательской деятельности', 'Формирование научно-технологических прогнозов, создание математических моделей, анализ данных, разработка программного обеспечения, тестирование и оценка эффективности новых технологий' )

