.svg-b(@folder1, @folder2, @name) {
   background-image: url("../data/@{folder1}/@{folder2}/@{name}.svg");
   background-repeat: no-repeat;
}
.svg(@folder, @name) {
   background-image: url("../data/@{folder}/@{name}.svg");
   background-repeat: no-repeat;
}
.png(@folder, @name) {
   background-image: url("../data/@{folder}/@{name}.png");
   background-repeat: no-repeat;
}

.logo_ers {
   .svg( 'logo', 'logo-ers' );
   background-size: contain;
   background-position: left;
   flex-shrink: 0;
}

.text-act() {
   .svg( 'images', 'text-act' );
   background-position: top;
   background-size: contain;
}
.text-product() {
   .svg( 'images', 'text-product' );
   background-position: top;
   background-size: contain;
}


.bg-lines-top() {
   .svg( 'bg', 'bg-with-line' );
   background-position: top;
   background-size: cover;
}
.bg-lines-side() {
   .svg( 'bg', 'bg-line-2' );
   background-position: top right;
   background-size: contain;
}

.fictosha() {
   .svg( 'images', 'fictosha' );
   background-position: top;
   background-size: contain;
}
.fictosha-adapt() {
   .svg( 'images', 'fictosha-adapt' );
   background-position: bottom;
   background-size: contain;
}
.fictosha-adapt-sm() {
   .svg( 'images', 'fictosha-adapt-sm' );
   background-position: bottom;
   background-size: contain;
}
.fictosha-adapt-xs() {
   .svg( 'images', 'fictosha-adapt-xs' );
   background-position: bottom;
   background-size: contain;
}
