doctype
html

   include assets/jade/static/__head
   +title( 'Сектор Экспериментальных Исследований' )

   body
      include assets/jade/static/metrika
      #container_main
         include assets/jade/header/header


         include assets/jade/footer/footer

      include assets/jade/static/script




