section( aria-label='Дополнительные ресурсы - журнал "Информатизация образования и науки"' )#additional.additional__container
   .wrapper
      .rotate__holder
         .rotate__text
         .rotate__icon
      h1.caption Дополнительные ресурсы
      .additional__info
         h2.caption.mt3 Журнал &laquo:Информатизация образования и&nbsp;науки&raquo:
         .additional__holder
            .additional__image
            .additional__text
               p Журнал включён в&nbsp;Перечень ведущих рецензируемых научных журналов и&nbsp;изданий, в&nbsp;которых должны быть опубликованы основные научные результаты диссертаций на&nbsp;соискание учёных степеней доктора и&nbsp;кандидата наук.
               p.mt1 Журнал своей деятельностью помог сформировать в&nbsp;стране корпус высококвалифицированных специалистов в&nbsp;области науки и&nbsp;образования.
               p.small Выпускается ежеквартально с&nbsp;2009 года
               a( href='https://journal.ficto.ru/' target='_blank' ).button_white Перейти
