.additional__container {
   padding: 5rem 0;
   margin-top: 4rem;
   color: white;
   .bg-lines-footer();
}
.additional__container .wrapper {
   .flex();
   .xs-block({
      display: block;
   })
}
.additional__container h2.caption {
   width: 100%;
   margin-bottom: 8rem;
   .sm-block({
      margin-bottom: 6rem;
   })
}
.additional__holder {
   position: relative;
   .flex();
   .lg-block({
      display: block;
   })
}
.additional__image {
   width: 53rem;
   margin-right: -10rem;
   height: 31rem;
   .additional-mockup();
   
   .xl-block({
      height: 33rem;
       background-position: bottom left;
   });
   .middle-block({
      width: 38rem;
   });
   .lg-block({
      width: 100%;
      height: 26rem;
      background-position: center;
   });
   .md-block({
      background-position: bottom left;
   });
   .sm-block({
      height: 20rem;
   });
   .xs-block({
      height: 15rem;
   });
}
.additional__text {
   width: 40%;
    padding-top: calc( 1rem + 2vw );
   
   .xxl-block({
      padding-top: 0;
      width: 50%;
   });
   .lg-block({
      width: 100%;
   });
}
.additional__text .small {
   .roboto-light();
   margin-top: calc( 1rem + 1vw );
}
.additional__text .button_white {
   margin-top: calc( 1rem + 1vw );
   
   .lg-block({
      position: absolute;
      top: 13rem;
      right: 12vw;
   });
   .md-block({
      right: 3vw;
   });
   .sm-block({
      top: 8rem;
   });
   .xs-block({
      top: 5rem;
   });
}


.element-animation p {
  /* Скроем элемент в начальном состоянии */
  opacity: 0;
  transform: translateX(60px);
}
.element-animation p {
  transition: all .4s ease-in-out;
  transform: translateX(60px);
}
.element-animation p:nth-of-type(2) {
  transition: all .5s ease-in-out;
  transform: translateX(65px);
}
.element-animation p.small {
  transition: all .6s ease-in-out;
  transform: translateX(70px);
}

.element-animation.element-show p {
  opacity: 1;
  transition: all .4s ease-in-out;
  transform: translateX(0);
}
.element-animation.element-show p:nth-of-type(2) {
  opacity: 1;
  transition: all .5s ease-in-out;
  transform: translateX(0);
}
.element-animation.element-show p.small {
  opacity: 1;
  transition: all .6s ease-in-out;
  transform: translateX(0);
}

.element-animation a {
  opacity: 0;
  transform: translateX(80px);
}
.element-animation.element-show a {
  opacity: 1;
  transition: all .8s ease-in-out;
  transform: translateX(0);
}


.additional__image.element-animation {
   /* Скроем элемент в начальном состоянии */
  opacity: 0;
  transform: translateY(10%);
}
.additional__image.element-animation.element-show {
   opacity: 1;
  transition: all .8s ease-in-out;
  transform: translateY(0);
}
